h1{
    color: red;
    /*transition: color 2s, font-size 3s;*/
    transition-property: transform, color, font-size;
    transition-duration:2s, 2s, 3s ;
    /* transition-delay: 2s, 1s; */


}
/*hover es una seudoclase que se activa cuando pasamos por encima del elemento*/
/*active aplica cuando clikeamos sobre el elemento*/

h1:hover{
    color: aqua;/*propiedad-valor*/
    font-size: 3em;/*propiedad-valor*/
    transform: rotate(90deg);
}

a{
    text-decoration: none;
}

a:hover{
    /*text-decoration:underline ;*/
    /*border-bottom: 5px solid green;*/
    text-decoration-line:underline ;
    text-decoration-thickness:5px ;
}

h2{
animation-name: color;
animation-duration: 4s;
}

/*@keyframes color {
    from {color: red;}
    to {color: yellow;}
}*/

@keyframes color {
    0%{color :red}
    25%{color: yellow;}
    50%{color: blue;}
    100%{color:green}
}
a:link{
    color: green;
}

a:visited{
    color: fuchsia;
}

a:active{
    color: darkgoldenrod;
}

/*input[type="text"]{
    -radius: 5px;
    border: solid green;
    outline: solid red;
    outline-offset:5px ;
} */

input[type="text"]:focus{
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 15px aqua;/*el 1, es cuantose separa del eje"x", el 2 cuanto del "y" y el t3 cuanto de difuminado*/
    padding: 5px;
}
/*otras pseudoclass de formulario 
:focus aplica estilo cuando se hace foco sobe el elemento
:checked aplica estilos cuando se selecciona la casill*/

input[type="checkbox"]:checked{
   
    background-color: red;
    box-shadow: 1px 1px 3px red;/*el 1, es cuantose separa del eje"x", el 2 cuanto del "y" y el t3 cuanto de difuminado*/

}

/*pseudoclases a elementos hijos de distinto tipo
:first-child  :last-child (se utiliza para representar al primer o ultimo elemento
dentro de un grupo de elementos hermanos

:nth-child() coincide con el elemento segun su posicion entro del grupo ed hermenos*/

/*section p:first-child{
    color: red;
}

section p:last-child{
    color: green;
}*/

 /*section p:nth-child(3){ 
    color: fuchsia;{

} */

/* p:first-of-type::first-letter{
    font-size: 3em;
    color: fuchsia;
} */
    
/* p:first-of-type::first-line{
    color: fuchsia;
} */

/* p::selection{
    background-color: fuchsia;
    color: beige;
} */

h1::before{
    content: '- ';
    color: aqua;
}

h1::after{
    content: '*';
    color: red;
}

p::after{
    content: '...';
}

/* trancicion */


/* animacion */
